
/* Botones */
.btn-add-member {
    font-weight: bold;
    background-color: transparent;
    padding: 0;
    font-size: 40px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 5px solid transparent;
    --color-btn: #FF2244;
    color: var(--color-btn);
    transition: 0.4s;
}
.btn-add-member.second {
    --color-btn: #FF961E;
}
.btn-add-member:hover {
    border-color: var(--color-btn);
}

/* Member Item */
.member-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 170px;
    padding: 8px;
    border-radius: 5px;
    background-color: #F0F0F0;
}
.member-item span {
    font-size: 15px;
    font-weight: bold;
    color: #555555;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.member-item .close {
    --color-close: #FF2244;
    background-color: var(--color-close);
    color: #f0f0f0;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    padding: 0px 4px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.4s;
}
.member-item .close:hover {
    border-color: var(--color-close);
    background-color: #f0f0f0;
}
.member-item .close:hover {
    color: var(--color-close);
}
.member-item.second .close {
    --color-close: #FF961E;
}

/* Button Raffle */
#btn-raffle {
    background-color: #4E5FFF;
    border: 0;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 180px;
    cursor: pointer;
    transition: 0.4s;
}
#btn-raffle * {
    color: #ffffff;
}
#btn-raffle span {
    font-size: 20px;
    font-weight: bold;
}
#btn-raffle .iconify {
    font-size: 65px;
    border-radius: 100px;
    border: 4px solid #9296FF;
}
#btn-raffle:hover {
    transform: translateY(-10px);
    box-shadow: 3px 3px 10px 5px #00000055;
}

/* Member item relation result 1 y 2 */
.member-item-relation-1-result, 
.member-item-relation-2-result {
    border-radius: 6px;
    font-weight: bold;
    width: 200px;
    padding: 15px;
}
.member-item-relation-1-result {
    background-color: #ffffff;
    color: #949494;
    border: 5px solid #949494;
}
.member-item-relation-2-result {
    background-color: #151515;
    color: #ffffff;
}

/* Secciones de contenido */
/* Header */
#header-main {
    background-color: #2C2C2C;
}
#header-main .title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}
#header-main .title .iconify {
    color: #FF961E;
    font-size: 40px;
}
#header-main .title h1 {
    color: #FFFF81;
}

main {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#container-sections-relation {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/* Section Relation */
.section-relation {
    margin-top: 60px;
}
.section-relation .container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 8px;
    background-color: #3C3C3C;
    width: 30vw;
    min-height: 400px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}
.section-relation .description {
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-relation .description h3 {
    width: max-content;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

/* Results */
#container-results {
    height: 500px;
    overflow: scroll;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
}
#container-results .member-item-relation-1-result {

}

/* Footer Main */
#footer-main {
    display: flex;
    justify-content: flex-end;
    background-color: #F0F0F0;
}
#footer-main h5 {
    color: #9F9F9F;
    margin-right: 15px;
    font-size: 16px;
}
